.header-banner {
	background-color: #44B78B;
	position: absolute;
	margin-left: 0;
	margin-right: 0;
	height: 150px;
	width: 100%;
}

.vertical-align {
	vertical-align: middle;
	top: 50%;
	transform: translateY(-50%);
	position: relative;
}

.no-bullets {
	list-style-type: none;
}

.nav-bar-horizontal {
	float: left;
	color: white;
}

.nav-bar-horizontal a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px;
}

.nav-bar-horizontal a:hover {
	background-color: #616562;
}

.nav-bar-active {
	background-color: #217532;
}

.text-box-invalid {
	border-color: red;
	border-style: solid;
}

.input-text-box-label {
	margin: 0;
}

.input-text-box {
	display: block;
	margin-bottom: 2%;
}

.form-container {
	padding-left: 5%;
}

.input-container {
	padding-left: 2.5%;
}

#header-banner-title-text {
	color: white;
	font-weight: bold;
	font-size: 40px;
	margin-left: 5%;
}

#nav-bar {
	padding-top: 150px;
}

#nav-bar-list {
	background-color: black;
	padding: 0;
	overflow: hidden;
}

#login-header {
	top: 0;
	right: 0;
}