<!DOCTYPE html>

{% extends "pazaak/base.html" %}
{% load static %}

<html lang="en">
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{% static 'pazaak/js/game.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'pazaak/css/play.css' %}">
    {% endblock %}

    {% block body %}
    <div class="game-body">
        <div id="banner-winner">
            <h2 id="banner-winner-text"></h2>
        </div>

        <div id="score-row" class="row">
            <div class="column column-left-border">
                <div class="icon-turn">
                    <i id="icon-turn-player" class="fas fa-play-circle fa-3x"></i>
                </div>

                <h2>You</h2>
                <h2 id="score-player">
                    {{ player.score }}
                </h2>
            </div>
            <div class="column column-right-border">
                <div class="icon-turn">
                    <i id="icon-turn-opponent" class="far fa-times-circle fa-3x"></i>
                </div>

                <h2>Opponent</h2>
                <h2 id="score-opponent">
                    {{ opponent.score }}
                </h2>
            </div>
        </div>

        <hr />

        <div id="game-row" class="row">
            <div id="placed-cards-player" class="column column-left-border">
            </div>
            <div id="placed-cards-opponent" class="column">
            </div>
        </div>

        <hr />

        <div id="hand-row" class="row">
            <div id="hand-player" class="column column-left-border">
                {% for card in player.hand %}
                    <div id="card-player-hand-{{ forloop.counter }}" class="horizontal-row pazaak-card hand-card">
                        <p>{{ card.parity }}</p>
                    </div>
                {% endfor %}
            </div>
            <div id="hand-opponent" class="column column-right-border">
                {% for card in opponent.hand %}
                    <div id="card-opponent-hand-{{ forloop.counter }}" class="horizontal-row pazaak-card">
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="action-row" class="row horizontal-row">
            <button type="button" id="btn-end-turn" class="btn btn-success" data-url="{% url 'pazaak:play' %}"><i class="fas fa-play"> End Turn</i></button>
            <button type="button" id="btn-stand" class="btn btn-warning" data-url="{% url 'pazaak:play' %}"><i class="fas fa-hand-paper"> Stand</i></button>
            <button type="button" id="btn-restart" class="btn btn-danger" data-url="{% url 'pazaak:play' %}"><i class="fas fa-redo"> Start Over</i></button>
        </div>
    </div>

    {% endblock %}

    {% block script %}
    <script type="text/javascript">

        $(document).ready(() => {
            setUpGame();
        });

    </script>
    {% endblock %}
</html>