.PazaakGame {
    margin-left: 2%;
    margin-right: 2%;
}

.GameHeader {
    width: 100%;
    text-align: center;
}

.info-header {
    display: inline-block;
}

.text-align-left {
    text-align: left;
}

.stick-right {
    float: right;
}

.margin-right-small {
    margin-right: 1rem;
}