<!DOCTYPE html>
<html lang="en">

	{% load static %}
	<head>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static "commutity/css/common.css" %}">

		{% block head %}
			<title>Commutity</title>
		{% endblock %}
	</head>

	<header>
		<div id="login-header">
			{% if request.session.user %}
				<p>{{ request.session.user.first_name }} {{ request.session.user.last_name }}</p>
			{% endif %}
			{% block login-header %}{% endblock %}
		</div>

		<div role="banner" class="header-banner">
			<div class="vertical-align" id="header-banner-title-text">
				<h1>commutity</h1>
			</div>
		</div>
		
		<div id="nav-bar">
			<ul class="no-bullets" id="nav-bar-list">
				<li class="nav-bar-horizontal nav-bar-active" id="nav-bar-home"><a href="{% url 'commutity:index' %}">Home</a></li>
				<li class="nav-bar-horizontal" id="nav-bar-get-started"><a href="{% url 'commutity:login' %}">Get Started</a></li>
				<li class="nav-bar-horizontal" id="nav-bar-about"><a>About</a></li>
				{% if request.session.user %}
					<li class="nav-bar-horizontal" id="nav-bar-logout"><a href="{% url 'commutity:logout' %}">Log Out</a></li>
				{% endif %}
			</ul>
		</div>

		<script type="text/javascript">
			function switchActiveNavBarPerspective(elementPrevious, elementCurrent) {
				$(elementPrevious).removeClass("nav-bar-active");
				$(elementCurrent).addClass("nav-bar-active");
			}

			function makeNavButtonActive(element) {
				var navButtons = $("#nav-bar-list li");
				navButtons.each(function(index, li){ $(li).removeClass("nav-bar-active"); });
				$(element).addClass("nav-bar-active");
			}

			function initNavBar() {
				$("#nav-bar-list li").each(function(index, li){ $(li).click(function(){ makeNavButtonActive(li); }) });
			}

			function fieldEmpty(element) {
				return $(element).val().length === 0;
			}

			$(document).ready(function() {
				initNavBar();
				makeNavButtonActive("#nav-bar-home");
			});
		</script>
	</header>

	<body>
		{% block body %}{% endblock %}
	</body>

	<footer>
	</footer>
</html>
