<!DOCTYPE html>

{% extends "commutity/base.html" %}
{% load static %}

<html lang="en">
	{% block head %}
		<title>Commutity - Login</title>

		<link rel="stylesheet" type="text/css" href="{% static "commutity/css/login.css" %}">
	{% endblock %}

	{% block body %}
		<div>
			<h1>Login</h1>

			<form action="{% url 'commutity:login' %}" method="post">
				{% csrf_token %}
				<label class="login-box-label" for="login-username-box">Username</label>
				<input type="text" name="username" class="login-text-box" id="login-username-box"/>

				<label for="login-password-box">Password</label>
				<input type="password" name="password" class="login-text-box" id="login-password-box"/>
			</form>

			<button type="button" class="btn btn-success btn-md" id="btn-login">Go</button>
		</div>
	{% endblock %}

</html>
